img{
  height: 300px;
}
.heart-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 5px;
  font-size: 25px;
}

.card:hover{
  transform: scale(1.07);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transition-duration: 0.4s;
}