@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: #03001C;
    color: #E5E5CB;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
